.hystmodal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-y: disabled;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.hystmodal__window {
  background-color: rgba(182, 185, 176, 0.801);
  height: 100vh;
  width: 100vw;
  transition: transform 0.15s ease 0s, opacity 0.15s ease 0s;
  transform: scale(1);
}

.is-hidden {
  transform: translateX(100%);
}
